<!DOCTYPE html>
<html ng-app="App">

<head>
    <title>Xpense Report2.1</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <header>
        <h1>Xpense Report</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Xpense Report</a>
            <a href="#">Results</a>
        </nav>
    </header>
    <!-- 	Welcome Page -->
    <div id="welcomeDiv">
    	<h2>Welcome to Xpense Report</h2>
    	<p>An easy-to-use application that allows you to visualize your everyday expenses, without all of the unnecessary complications.</p>
    </div>
   
    <div id="inputsDiv">
    	<input type="number" name="Total Income" ng-model="totalIncome" placeholder="What's your total income?">
    	<input type="number" name="Total Income" ng-model="totalIncome" placeholder="What's your total income?">
    </div>
    
    <!-- <ng-view></ng-view> -->







    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>
    <script type="text/javascript" src="./module.js"></script>
    <script type="text/javascript" src="./config.js"></script>
</body>

</html>